* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }
    body {
        background-color: rgb(10, 2, 29);
    }
    .div1 {
        width: 1350px;;
        height: 700px;
        background-image:url(../image/mnm.jpg);
        background-size: cover;
        box-shadow : 9px 30px 20px -11px black;
        margin-bottom:24px;
    }
    .h1{
        width: 1360px;
        height: 93px;
        border-bottom:2px solid white ;
    }
    .h1 h2{
        color: white;
        float:right;
        margin-top: 30px;
        margin-right: 30px;
    }
     .div1 .links{
        margin-top:50px;
        margin-left: 200px;
        position: absolute;
        
    }
    .links a{
        margin-left:66px;
        text-decoration: none;    
        color: white;
        font-size: 21px;
    }
.links a:hover {color: rgb(141, 27, 27);  text-decoration:revert; padding: 10px;}
.school {
    width: 325px;
    height: 300px;
    margin-left: 237px;
    margin-top: 180px;
    text-align: center;
    color: white;
}
.school h1{
    font-size: 60px;
    padding-top: 50px;
}
.school p{
    font-size: 29px;
    padding-top: 17px;
}

@keyframes scale {
    form {
        transform:scale(0.3);
    }
    to {
        transform: scale(1.5);
    }
}
.div2  {
    width: 1350px;
    background-color: rgb(10, 2, 29);

}
.div2 .k1{
    width:400px;
    height: 450px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 91px;
}
.div2 .k1 h1 {
    font-size: 62px;
    margin-top: 30px;
    margin-left: 107px;
    color: antiquewhite;
}
.div2 .k1 p{
    font-size: 30px;
    margin-left: 114px;
    margin-top: 18px;
    color: white;
}
.div2 .k1 img {
    width: 400px;
    height: 222px;
    margin-top: 80px;
    display: inline-block;

}
.div2 .k1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    background-color: rgb(29, 136, 86);
    margin-left: 95px;
    border: 2px solid white;
    margin-top: 20px;

}
.div2 .k1 button a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.div2 .k2{
    width:400px;
    height: 400px;
    margin-left: 300px;
    position: absolute;
    display: inline-block;
    margin-top: 100px;
   
}
.div2 .k2 h1{
    font-size: 40px;
    color: antiquewhite;
    
}
.div2 .k2 img{
    width: 430px;
    height: 250px;
    margin-top: 70px;
    box-shadow: -58px 45px tan;
}
.div3  {
    width: 1350px;
    background-color: rgba(47, 47, 49, 0.952);


}
.div3 .j1{
    width:600px;
    height: 1200px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 230px;
}
.div3 .j2{
    width:400px;
    height: 1200px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    margin-top: 280px;
   
}
.div3 .j1 img {
    width: 500px;
    height: 280px;

}
.div3 .j1 h1 {
    color: tan;
}
.div3 .j1 h2{
    text-align: center;
    color: tan;
    margin-top: 30px;
}
.div3 .j1 p {
    color: white;
    margin-top: 20px;
}
.div3 .j1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 200px;
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div3 .j1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div3 .j1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div3 .j2 img {
    width: 400px;
    height: 240px;
    margin-top: 30px;

}
.div3 .j2 h1 {
    color: tan;
    text-align: center;
    margin-top: 90px;
    font-size: 46px;
    
}
.div3 .j2 h3{
    color: tan;
    margin-top: 20px;
    margin-left: 185px;
    font-size: 30px;
}
.div3 .j2 h2{
    text-align: center;
    color: tan;
    margin-top: 30px;
}
.div3 .j2 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 200px;
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div3 .j2 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div3 .j2 button:hover{
    background-color: rgb(179, 181, 182);
}
.div4{
    width: 1350px;
    height: 600px;
    background-image: url(../image/2.webp);
    background-size: cover;
    z-index: 0;
}
@keyframes slide {
    0% {
        margin-top: -30px;
        
    }
    25%{
        margin-top: -60px;
    }
    50% {
        margin-top: -400px;
    }
    75%{
        margin-top: -900px;
    }
    100%{
        margin-top: -1800px;
    }
}
.div5{
    width: 1350px;
    height: 800px;
}
.div5 .u1{
    width:500px;
    height: 600px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 230px;
}
.div5 .u1 h1{
    margin-left: 250px;
    font-size: 50px;
    color: tan;
    display: inline-block;
}
.div5 .u1 p{
    margin-top: 30px;
    margin-left: 250px;
    color:white;
    font-size: 20px;
    display: inline-block;
}
.div5 .u1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 166px;
    border: 1px solid white;
    margin-top: 200px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div5 .u1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div5 .u1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div5 .u2{
    width:500px;
    height: 600px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    margin-top: 230px;
   
}
.div5 .u2 h1{
    margin-left: 160px;
    font-size: 50px;
    color: tan;
    display: inline-block;
}
.div5 .u2 img{
    width: 400px;
    height: 200px;
    margin-top: 130px;
    box-shadow:-38px 35px tan;
}

.div6 {
    width: 1350px;
    height: 800px;
    
}
.div6 .l1{
    width:400px;
    height: 600px;
    display: inline-block;
    margin-left: 220px;
    margin-top: 232px;
}
.div6 .l1 h1{
    text-align: center;
    font-size: 53px;
    color: tan;
    display: inline-block;
}
.div6 .l1 p{
    margin-top: 30px;
    margin-left: 48px;
    color:white;
    font-size: 27px;
    display: inline-block;
}
.div6 .l1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 112px;
    border: 1px solid white;
    margin-top: 215px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div6 .l1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div6 .l1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div6 .l2{
    width:500px;
    height: 400px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    margin-top: 230px;
   
}
.div6 .l2 h1{
    margin-left: 50px;
    font-size: 50px;
    color: tan;
    display: inline-block;
    text-align: end;
}
.div6 .l2 img{
    width: 400px;
    height: 200px;
    margin-top: 130px;
    margin-left: 86px;
    box-shadow:-35px 30px tan;
}
.div7 {
    width: 1350px;
    height: 600px;
    
}
.div7 .p1{
    width:400px;
    height: 600px;
    display: inline-block;
    margin-left: 220px;
}
.div7 .p1 h1{
    text-align: end;
    font-size: 53px;
    color: tan;
    display: inline-block;
    margin-left: 107px;
}
.div7 .p1 p{
    margin-top: 30px;
    margin-left: 48px;
    color:white;
    font-size: 27px;
    display: inline-block;
}
.div7 .p1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 112px;
    border: 1px solid white;
    margin-top: 215px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div7 .p1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div7 .p1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div7 .p2{
    width:500px;
    height: 400px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
}
.div7 .p2 h1{
    margin-left: 50px;
    font-size: 50px;
    color: tan;
    display: inline-block;
    text-align: end;
}
.div7 .p2 img{
    width: 400px;
    height: 200px;
    margin-top: 130px;
    margin-left: 86px;
    box-shadow:-35px 30px tan;
}
.div8 {
    width: 1350px;
    height: 600px;
    
}
.div8 .y1{
    width:400px;
    height: 600px;
    display: inline-block;
    margin-left: 220px;
}
.div8 .y1 h1{
    text-align: end;
    font-size: 50px;
    color: tan;
    display: inline-block;
    margin-left: 66px;
}
.div8 .y1 p{
    margin-top: 30px;
    margin-left: 94px;
    color:white;
    font-size: 35px;
    display: inline-block;
}
.div8 .y1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 112px;
    border: 1px solid white;
    margin-top: 215px;
    margin-bottom: 100px;
    background-color:  rgba(47, 47, 49, 0.952);

}
.div8 .y1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div8 .y1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div8 .y2{
    width:500px;
    height: 600px;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
}
.div8 .y2 h1{
    margin-left: 50px;
    font-size: 42px;
    color: tan;
    display: inline-block;
    text-align: end;
}
.div8 .y2 img{
    width: 400px;
    height: 200px;
    margin-top: 130px;
    margin-left: 86px;
    box-shadow:-35px 30px tan;
}
.div9 {
width: 1350px;
height: 600px;
background-image: url(image/13.jpg);
background-size: cover;
}
.div9 h1{
    text-align: center;
    margin-top: 60px;
    font-size: 60px;
    color: rgb(184, 108, 9);
}
.div9 img{
    width: 500px;
    height: 250px;
    margin-left: 100px;
    margin-top: 92px;

}
.div9 .h1{
    width: 600px;
    height: 300px;
    display: inline-block;
    margin-left: 50px;
}
.div9 .h1 h1{
    display: inline-block;
    margin-left: 200px;
    margin-top: 30px;
    color: rgb(184, 108, 9);
    font-size: 49px;

}
.div9 .h1 p{
    display: inline-block;
    margin-left: 158px;
    margin-top: 18px;
    color: white;
}
.div9 .h1 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 264px;
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: url(image/13.jpg);

}
.div9 .h1 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div9 .h1 button:hover{
    background-color: rgb(179, 181, 182);
}
.div10 {
    width: 1350px;
    height: 900px;
}
.div10 h1{
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 150px;
}
.div10 img{
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-top: 90px;
    margin-left: 115px;
}
.div10 p{
    color: white;
    display: inline-block;
    position:absolute;
    margin-top: 327px;
    margin-left: -298px;
    font-size: 30px;
}
.div10 button {
    width: 178px;
    height: 50px;
    display: inline-block;
    margin-left: 588px;
    border: 1px solid white;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color:rgb(10, 2, 29);
}
.div10 button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.div10 button:hover{
    background-color: rgb(179, 181, 182);
}
.div11{
    width: 1350px;
    height: 450px;
}
.div11 h5{
    text-align: center;
    color: white;
    letter-spacing: 12px;
    font-size: 12px;
    font-weight: 600;
}
.div11 h1{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 30px;
}
.div11 p{
    text-align: center;
    color: tan;
    font-size: 40px;
    margin-top: 40px;
}
.div11 img{
    display: inline-block;
    width: 30px;
    height: 40px;
    margin-left: 30px;
    margin-top: 50px;
}
.div11 .g1{
    margin-left: 600px;
}
.div12{
    width: 1350px;
    height: 340px;
    background-color: rgb(27, 24, 24);
}
.div12 a{
    margin-left: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 180px;
}
.div12 a:hover{
    color: tan;
}
.div12 p{
    color: white;
    text-align: center;
    margin-top: 112px;
}
 @media (max-width: 786px){
    .div1{
        width:100%;
    }
    .school h1 {
        width: 100%;
    }
    .h1 ,.h1 h2  {
        width: 100%;
        padding-left: 50%;
    }
     .div1 .links a{
        display: none;
    }
    .nav{
    margin: 43px 10px 10px 10px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    color: white;
     padding-left: 14px;
    font-size: 32px;
    }
    .click{
        margin-top: 10px;

    }
   .click span{
        font-size: 50px;
        color: white;
        margin-left: 10px;
        margin-bottom: 20px;

    }
    .click a{
        text-decoration: none;    
        color: white;
        font-size: 21px;
        border: 2px solid white;
        padding: 20px;
        display: block;

    }
    .div2 .k1{
        width:50%;
        height: 100%;
        display: block;
    }
    .div2 .k2{
        width:50%;
        height: 100%;
        display: block;
    }
    .div2 .k2 img {
        margin-left: -19%;
        
    }
    .div3{
        margin-top: 800px;
    }
    .div3 .j1{
        width:50%;
        height: 80%;
        display: block;
        padding-top: 15px;
    }
    .div3 .j2{
        width:50%;
        height: 1%;
        display: block;
        position: relative;
        margin-top: 0px;
    }
    .div3 .j2 h1{
        margin-left: -178px;
    } 
    .div4{
        width: 100%;
    }
    .div5 .u1{
        width:50%;
        display: block;
        margin-top: 100px;

    }
    .div5 .u2{
        width:50%;
        display: block;
        position: relative;
        margin-top: -10px;

    }
    .div6{
        margin-top: 400px;
    }
    .div6 .l1{
        width:50%;
        height: 50%;
        display: block;
    } 
    .div6 .l1 button{
        display: block;
        margin-top: 50px;
    }
    .div6 .l2{
        width:50%;
        height: 100%;
        display: block;
        position: relative;
        margin-top: 50px;

    }
    .div6 .l2 img {
        margin-top: 10px;
    }
    .div7{
        margin-top: 80px;
    }
    .div7 .p1 button{
        display: block;
        margin-top: 50px;
    }
    .div7 .p1{
        width:50%;
        height: 50%;
        display: block;
        position: relative;
    } 
    .div7 .p2{
        width:50%;
        height: 100%;
        display: block;
        position: relative;
        margin-top: 100px;

    }
    .div7 .p2 img {
        margin-top: 10px;
    }
    .div8{
        margin-top: 300px;
    }
    .div8 .y1{
        width:50%;
        height: 50%;
        display: block;
    } 
    .div8 .y1 button {
        display: block;
        margin-top: 60px;
    }
    .div8 .y2{
        width:50%;
        height: 100%;
        display: block;
        position: relative;
        margin-top: 100px;

    }
    .div9{
        margin-top: 450px;
        width: 50%;
        height: 100%;
    }
    .div9 h1{
        margin-left: 50%;
        width: 100%;
    }
    .div9 .h1{
        margin-top: 60px;
        position: relative;

    }
    .div9 .h1 h1{
        display:contents;
    }
    .div9 .h1 p{
        margin-left: -30px;
    }
    .div9 .h1 button{
        margin-left: 56px;
    }
    .div10{
        margin-left: 30%;
    }
    .div10 h1{ 
        margin-right: 75%;
        font-size: 39px;
    }
    .div10 img{
        display: block;
        margin-left: 10px;
    }
    .div10 p{
        display:contents;
    }
    .div10 button{
        display: block;
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 3%;
    }
    .div11{
        margin-top: 600px;
        width: 100%;
        height: 100%;
    }
    .div11 img {
        margin-left: -70px;        
    }
    .s1{
        margin-left: -150px;
    }
    .div12{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
    .div12 a{
        margin-left: 35px;
        margin-top: 45px;
    }
    
}